@font-face {
  font-family: "Rubik-bold";
  src: local("Rubik"), url("./assets/fonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-medium";
  src: local("Rubik"), url("./assets/fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("./assets/fonts/Rubik-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Rubik-bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
