.songs {
  margin-top: 10px;
  margin-bottom: 10px;
}

.songs .title {
  margin: 0px;
  color: white;
}



.songs .new-song {
  margin-top: 9px;
  margin-bottom: 9px;
}

.songs .new-song button {
  height: 32px;
  background: none repeat scroll 0 0 #0063b2;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  width: 120px;
}
