.postform__lineup__assignment {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.postform__lineup__assignment__role-label {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #4c7f7f;
  width: 180px;
}

.postform__lineup__assignment__member-selector {
  margin-top: 9px;
  margin-bottom: 9px;
  height: 32px;
  background: none repeat scroll 0 0 #426f6f;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  color: white;
}

.postform__lineup__assignment__member-selector:hover {
  cursor: pointer;
  background-color: #638b8b;
}


.postform__lineup__assignment__remove {
  
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 5px;
  height: 32px;
  background: none repeat scroll 0 0 #830000;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  color: white;
}

.postform__lineup__assignment__remove:hover {
  cursor: pointer;
  background-color: #c02a2a;
}

.postform__lineup__assignment__empty-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.postform__lineup__assignment__empty-error__pane {
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background-color: rgba(223, 43, 43, 0.8);
  border-radius: 5px;
  width: auto;
  height: 32px;
}

.postform__lineup__assignment__empty-error__arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;

  border-right: 10px solid rgba(223, 43, 43, 0.8);
}

.postform__lineup__assignment__empty-error__label {
  opacity: 100%;
  font-family: Rubik;
  font-size: 14px;
  line-height: 32px;
  color: white;
}
