.homepage {
  display: grid;

  grid-template-areas: "navbar navbar navbar" "post-form posts members";
  grid-template-rows: 50px auto;
  grid-template-columns: 800px auto 300px;
  height: 100vh;
  background-color: green;
}

.homepage__header-area {
  grid-area: navbar;

}

.homepage__left-main {
  grid-area: post-form;
  background-color: #2f3136;
}

.homepage__middle-main {
  grid-area: posts;
  background-color: #36393f;
}

.homepage__right-main {
  grid-area: members;
  background-color: #2f3136;
}

