.homepage {
  display: grid;

  grid-template-areas: "navbar navbar navbar" "post-form posts members";
  grid-template-rows: 50px auto;
  grid-template-columns: 800px auto 300px;
  height: 100vh;
  background-color: green;
}

.homepage .header-area {
  grid-area: navbar;

}

.homepage .left-main {
  grid-area: post-form;
  background-color: #2f3136;
}

.homepage .middle-main {
  grid-area: posts;
  background-color: #36393f;
}

.homepage .right-main {
  grid-area: members;
  background-color: #2f3136;
}

.main-title {
  margin: 0px 0px 0px 5px;
  font-size: 50px;
  line-height: 50px;
}