.postform {
  display: flex;
  flex-direction: column;
  background-color: darkslategray;
}

.postform-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border-color: #2c4747;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.postform-header-date {
  color: #4c7f7f;
  line-height: 32px;
  margin: 9px;
}

.postform-header-date label {
  margin-right: 5px;
}

.postform-header-date input {
  height: 32px;
  background: none repeat scroll 0 0 #426f6f;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  color: white;
}

.postform-header-title {
  color: #4c7f7f;
  line-height: 32px;
  margin: 9px;
}

.postform-divider {
  background-color: #253f3f;
  height: 1px;
}
.postform-content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #253f3f;
  border-radius: 10px;
}

.postform-submit-button {
  height: 32px;
  margin: 0px;
}

.postform-submit-button button {
  height: 100%;
  background: none repeat scroll 0 0 green;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  width: 100%;
}