.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border-color: #2c4747;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header .date {
  color: #4c7f7f;
  line-height: 32px;
  margin: 9px;
}

.header .date label {
  margin-right: 5px;
}

.header .date input {
  height: 32px;
  background: none repeat scroll 0 0 #426f6f;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  color: white;
}

.header .title {
  color: #4c7f7f;
  line-height: 32px;
  margin: 9px;
}